# Supabase Configuration
SUPABASE_URL=https://odzkhcplevcqbuhzqsmq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9kemtoY3BsZXZjcWJ1aHpxc21xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc2MDY2ODQsImV4cCI6MjA3MzE4MjY4NH0.j8KEBqFoR3aHp2mDpBlf025iEQyiv888FFBGwi_ss-8

# Firebase Configuration (iOS)
FIREBASE_IOS_API_KEY=AIzaSyAXDspp3RSvw234OfrfSHvkXgbvbsliedg
FIREBASE_IOS_APP_ID=1:774379904347:ios:059f99d3dbad53c1bf4e7e
FIREBASE_MESSAGING_SENDER_ID=774379904347
FIREBASE_PROJECT_ID=lynewed-app
FIREBASE_STORAGE_BUCKET=lynewed-app.firebasestorage.app
FIREBASE_IOS_BUNDLE_ID=com.lynewed.app

# Firebase Configuration (Android)
FIREBASE_ANDROID_APP_ID=1:774379904347:android:059f99d3dbad53c1bf4e7e
